
.audio-player-container {
    display: flex;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
}

.player-controls {
    display: flex;
    flex-direction: column;
}

.current-track-info {
    width: 400px;
}

.volume-controls {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 40px;
    width: 400px;
    .material-symbols-outlined {
        color: rgb(142, 142, 142);
    }
}

.volume-mute {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.control-top {
    display: flex;
    justify-content: center;
    .material-symbols-outlined {
        font-size: 50px;
        cursor: pointer;
    }
}

.control-bottom {
    display: flex;
    
}
 
.progressBar {
    appearance: none;
    border-radius: 10px;
    position: relative;
    width: 400px;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
    background-color: grey;
    --progress-bar-left: 0
}

.volume {
    appearance: none;
    border-radius: 10px;
    position: relative;
    width: 100px;
    height: 5px;
    outline: none;
    background-color: grey;
    --progress-bar-left: 0
}

.progressBar::before {
    content: '';   
    height: 10px;
    width: var(--progress-bar-left);
    background-color: greenyellow;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;

}

.progressBar::-webkit-slider-thumb {
    
    appearance: none;
    pointer-events: auto;
}

.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: white;
    -webkit-appearance: none;
    z-index: 3;

}

.progressBar::-webkit-slider-thumb:hover {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}
