
.audio-player-container {
    display: flex;
    width: 700px;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}



.progressBar {
    appearance: none;
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 10px;
    outline: none;
    background-color: grey;
    --progress-bar-left: 0
}
.progressBar::before {
    content: '';   
    height: 10px;
    width: var(--progress-bar-left);
    background-color: greenyellow;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer;
    border-radius: 10px;

}
.progressBar::-webkit-slider-thumb {
    
    appearance: none;
}

.progressBar:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background-color: white;
    -webkit-appearance: none;
    z-index: 3;

}

.progressBar::-webkit-slider-thumb:hover {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
    border: none;
    cursor: pointer;
    position: relative;
    margin: -2px 0 0 0;
    z-index: 3;
    box-sizing: border-box;
}
