h1 {
    font-size: 35px;
}


h3 {
    font-size: 25px;
}

.home-preview-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.see-all:hover {
    text-decoration: underline;
}