// Place all the styles related to the api/playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.playlist-form-container {
    // background-color: red;
    width: 60%;
    
   label{
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   
}

.playlist-form-left {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    
}

.color-selectors {
    display: flex;
    justify-content: space-evenly;
    label {
        display: flex;
        flex-direction: column;
        select{
            background-color: black;
            color: white;
        }
    }
}

.playlist-form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.text-input {
    width: 475px;
    padding-left: 0px;
    background-color: rgb(63, 63, 63);
    margin-bottom: 15px;
}

.text-input::placeholder {
    width: 475px;
    padding-left: 0px;
    color: rgb(176, 176, 176);
}



.popup {
    position: fixed;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 50px;
    border-radius: 50px;
    left: calc(50% - 150px);
    bottom: 200px;
    opacity: 1;
}

.popup-hidden{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}